:root{
    --main-light:rgb(248,249,250);
    --secondary-light:rgb(255, 255, 255);
    --main-dark:rgb(37, 37, 37);
    --secondary-dark:rgb(45, 48, 51);
}
.dark-mode{

        background-color:var(--main-dark) !important;
        color: var(--main-light) !important;

    .navbar{
        background-color: var(--secondary-dark);
        color: var(--main-light);
    }
    .component-item,.countries,.details-btn{
        background-color: var(--secondary-dark);
        color: var(--secondary-light);
        
        
    }
    .input{
        background-color: var(--secondary-dark) !important;
        color: var(--secondary-light);
    }
    .input::placeholder,.option{
        color: var(--secondary-light);

    }
}
#myBody{
    background-color:var(--main-light); 

}
.details-btn{
    padding: .5rem 2.5rem !important;
    box-shadow: 0px 0px 5px 0px #ccc;
}
.component-item{
    background-color: var(--secondary-light);
    flex-grow: 1;
    

}
*{
    box-sizing: border-box;
}
span{
    font-weight: 900;
}
#components{
    /* gap: 5px; */
}
.details{
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0%;
    right: 0;
}

.navbar{
    background-color: var(--secondary-light);
}
@media screen and (max-width:678px) {
    input{
        width: fit-content !important;
    }
    select{
        width: fit-content !important;

    }
    .countries {
        width: fit-content !important;
        height: 100% !important ;
    }
}